*{
margin:0;
padding: 0;
font-family: cursive;
}
.Wrapper {
  width: 100%;
}
.Container{
 width: 100%;
 text-align: center;
}
h1{
 letter-spacing: 1px;
 padding-top:1rem;
}
input{
 padding:8px;
 border: 2px solid red ;
 width: 20%;
 font-size: 16px;
 background-color:pink;
 }
button{
padding: 8px;
border: 2px solid red;
margin-top: 7px;
width: 20%;
font-size: 15px;
background-color:pink;

}
h4{
  font-size: 20px;
  margin-top: 1rem;
  color:black;
  font-family: cursive;
}